{% extends "layout.html" %}

{% block content %}


<h2>Category Balances:</h2>
<table class="table">
    {% for category in categories %}
    <tr>
        {% include 'category_header.html' %}

        {% set balance = category.balance_current() %}
        <td scope="row" style="
        {% if balance >= 0 %}
        background-color: #C6EFCE;
        color: #006100;
        {% else %}
        background-color: #FFC7CE;
        color: #9C0006;
        {% endif %}
        ">
            {{ balance | int_to_money }}
        </td>
        <td class="text-end w-25">
            <a href="{{url_for('expenses.list_expenses', category=category.code)}}"
                class="text-reset">
                Expenses
            </a>
        </td>
    </tr>
    {% endfor %}
</table>


<h2>Monthly Balances</h2>
<table class="table">
    <tr>
        <th>Month</th>
        {% for category in categories %}
        <th style="background-color: #{{category.color}}">
            {{ category.title }}:
        </th>
        {% endfor %}
    </tr>
    {% for month_year in months %}
    {% set month = month_year[0] %}
    {% set year = month_year[1] %}
    <tr>
        <td>
            {{calendar.month_name[month]}} {{ year }}
        </td>
        {% for category in categories %}
        {% set balance = category.balance_for_month(year, month)%}
        <td scope="row" style="background-color: #{{category.color}}">
            {{ balance | int_to_money }}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endblock %}