{% extends "layout.html" %}
{% block content %}
<h1>{{heading or "Add Expense"}}</h1>
<form method="post" novalidate>
    {{ form.hidden_tag() }}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for field, errors in form.errors.items() %}
            {% for error in errors %}
            <li><b>{{ form[field].label.text }}:</b> {{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% else %}
    {% endif %}

    <div class="mb-2">
        {{ form.date.label }}<br>
        {{ form.date(class="form-control", autofocus=True)}}
    </div>
    <div class="mb-2">
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.amount.label }}<br>
        {{ form.amount(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}
    </div>
    <div class="mb-2">
        {{ form.tags.label }}<br>
        {{ form.tags(class="form-control") }}
    </div>
    <p>{{ form.submit(class="btn btn-primary mt-3") }}</p>
    <div class="mb-2">
        {{ form.notes.label }}<br>
        {{ form.notes(class="form-control") }}
    </div>
</form>
{% endblock %}