{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-row-reverse mb-3">
    <div class="btn-group">
        <a class="btn btn-secondary" href="{{url_for('income.export_income')}}">
            Export
        </a>
        <a class="btn btn-primary" href="{{url_for('income.new_paycheck')}}">
            Add Paycheck
        </a>
        <a class="btn btn-primary" href="{{url_for('income.new_income')}}">
            New Income
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th scope="col">Date</th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">
                Category
            </th>
            <th scope="col" class="text-center">Amount</th>
            <th></th>
        </tr>
        <tbody id="table_body">
            {% block income_rows %}
            {% for income in income_items %}
            <tr>
                <td>{{ income.date_string }}</td>
                <td class="text-center">{{ income.title }}</td>
                <td class="text-center" style="background: #{{income.category.color}}">
                    <a class="text-decoration-none text-reset"
                        href="{{url_for('income.list_income', category=income.category.code)}}">
                        {{ income.category.title }}
                    </a>
                </td>
                <td class="text-center">{{ income.formatted_amount() }}</td>
                <td>
                    <a href='{{url_for("income.delete_income", id=income.id)}}'>
                        <img src="{{ url_for('static', filename='delete.svg') }}"
                            alt="Delete" />
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% endblock income_rows %}
        </tbody>
    </table>
</div>
{% block load_more_btn %}
<div id="load_more_btn_wrapper" hx-swap-oob="true" class="w-100">
    {% if next_url %}
    <a class="btn btn-primary w-100 mb-3" href="{{next_url}}" hx-get="{{next_url}}"
        hx-target="#table_body" hx-swap="beforeend">
        Load More
    </a>
    {% else %}
    <p class="text-center mb-3 fst-italic">
        You have reached the end of the list!
    </p>
    {% endif %}
</div>
{% endblock load_more_btn %}
{% endblock %}