{% extends "layout.html" %}
{% block content %}
<div class="d-flex flex-row justify-content-between mb-3">
    <form method="GET" class="me-2">
        <input class="form-control" type="search" name="search" id="search"
            placeholder="Search" />
    </form>
    <div class="btn-group">
        <a class="btn btn-secondary" href="{{url_for('expenses.export_expenses')}}">
            Export
        </a>
        <a autofocus class="btn btn-primary" href="{{url_for('expenses.new_expense')}}">
            New Expense
        </a>
    </div>
</div>
<div class="table-responsive">


    <table class="table">
        <tr>
            <th scope="col">Date</th>
            <th scope="col" class="text-center">Title</th>
            <th scope="col" class="text-center">Amount</th>
            <th scope="col" class="text-center">Category</th>
            <th scope="col" class="text-center">Tags</th>
            <th>Actions</th>
        </tr>

        <tbody id="table_body">
            {% block expense_rows %}
            {% for expense in expenses %}
            <tr>
                <td>{{ expense.date.strftime('%m/%d/%y') }}</td>
                <td class="text-center">
                    <a href="{{url_for('expenses.expense', id=expense.id)}}">
                        {{ expense.title }}
                    </a>
                </td>
                <td class="text-center">{{ expense.formatted_amount() }}</td>
                <td class="text-center" style="background: #{{expense.category.color}}">
                    {{ expense.category.title }}
                </td>
                <td class="text-center">
                    {% for expense_tag in expense.tags %}
                    <span class="badge"
                        style="background-color: #{{ expense_tag.tag.color }};">
                        <a href="{{url_for('expenses.list_expenses', tag=expense_tag.tag.name)}}"
                            class="text-white text-decoration-none">
                            {{ expense_tag.tag.name }}
                        </a>
                    </span>
                    {% endfor %}
                </td>
                <td>
                    <a href='{{url_for("expenses.delete_expense", id=expense.id)}}'
                        style="text-decoration: none;">
                        <img src="{{ url_for('static', filename='delete.svg') }}"
                            alt="Delete" title="Delete" />
                    </a>
                    <a href='{{url_for("expenses.repeat_expense", id=expense.id)}}'>
                        <img src="{{ url_for('static', filename='repeat.svg') }}"
                            alt="Repeat" title="Repeat" />
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
        {% endblock %}

    </table>
</div>
{% block load_more_btn %}
<div id="load_more_btn_wrapper" hx-swap-oob="true" class="w-100">
    {% if next_url %}
    <a class="btn btn-primary w-100 mb-3" href="{{next_url}}" hx-get="{{next_url}}"
        hx-target="#table_body" hx-swap="beforeend">
        Load More
    </a>
    {% else %}
    <p class="text-center mb-3 fst-italic">
        You have reached the end of the list!
    </p>
    {% endif %}
</div>
{% endblock load_more_btn %}
{% endblock %}