{% extends "layout.html" %}
{% block content %}
<div class="float-end mb-3">
    <a class="btn btn-secondary" href="{{url_for('expenses.export_expenses')}}">
        Export
    </a>
    <a class="btn btn-primary" href="{{url_for('expenses.new_expense')}}"
        autofocus>
        New Expense
    </a>
</div>
<table class="table">
    <tr>
        <th scope="col">Date</th>
        <th scope="col" class="text-center">Title</th>
        <th scope="col" class="text-center">Amount</th>
        <th scope="col" class="text-center">Category</th>
        <th scope="col" class="text-center">Tags</th>
        <th></th>
    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{ expense.date.strftime('%m/%d/%y') }}</td>
        <td class="text-center">{{ expense.title }}</td>
        <td class="text-center">{{ expense.formatted_amount() }}</td>
        <td class="text-center" style="background: #{{expense.category.color}}">
            {{ expense.category.title }}
        </td>
        <td class="text-center">
            {% for expense_tag in expense.tags %}
            <span class="badge"
                style="background-color: #{{ expense_tag.tag.color }};">
                {{ expense_tag.tag.name }}
            </span>
            {% endfor %}
        </td>
        <td>
            <a href='{{url_for("expenses.delete_expense", id=expense.id)}}'>
                <img src="{{ url_for('static', filename='delete.svg') }}"
                    alt="Delete" />
            </a>
        </td>

    </tr>
    {% endfor %}
</table>
<div class="d-flex justify-content-between mb-3">
    <div>
        {% if prev_url %}
        <a href="{{prev_url}}">
            < Previous Page </a>
                {% endif %}
    </div>
    <div>
        {% if next_url %}
        <a href="{{next_url}}">
            Next Page >
        </a>
        {% endif %}
    </div>
</div>
{% endblock %}