{% extends "layout.html" %}
{% block content %}
<h1>Add Expense</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div>
        {{ form.date.label }}<br>
        {{ form.date(class="form-control", autofocus=True)}}
    </div>
    <div>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}
    </div>
    <div>
        {{ form.amount.label }}<br>
        {{ form.amount(class="form-control") }}
    </div>
    <div>
        {{ form.category.label }}<br>
        {{ form.category(class="form-control") }}
    </div>
    <p>{{ form.submit(class="btn btn-primary mt-3") }}</p>
    <div>
        {{ form.notes.label }}<br>
        {{ form.notes(class="form-control") }}
    </div>
</form>
{% endblock %}